* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.title {
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1.5px;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.photo_card {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1.2px solid grey;
    border-radius: 5px;
}
.photo_card > img {
    transition: all ease-in-out 0.3s;
}
.photo_card>img:hover {
    transform: scale(1.02);
}


.photo_card>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.description {
    padding: 10px 0;
}